include CHANGELOG.md
include LICENSE
include README.md
include VERSION
include arcutils/local.base.cfg
include arcutils/PSUCA.crt
recursive-include arcutils/static *
recursive-include arcutils/templates *
